<div data-controller="debounce">
  <%= form_with url: search_movies_path, method: :post, data: { debounce_target: "form" } do |form| %>
    <%= form.search_field :title_search, data: { action: "input->debounce#search" } %>
    <!-- <%= form.submit 'Search' %> -->
  <% end %>
  <div id="search_results">Search results</div>
</div>
